html, body {
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  min-width: 100vw;
}
img {
  position: absolute;
  border: 5px solid black;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}

#draw {
  border: 1px dashed black;
  cursor: crosshair !important;
}
